[submodule ".registry"]
	path = .registry
	url = https://github.com/hugheylab/hugheylab.r-universe.dev
	branch = HEAD
[submodule "deltaccd"]
	path = deltaccd
	url = https://github.com/hugheylab/deltaccd
[submodule "limorhyde"]
	path = limorhyde
	url = https://github.com/hugheylab/limorhyde
[submodule "limorhyde2"]
	path = limorhyde2
	url = https://github.com/hugheylab/limorhyde2
[submodule "phers"]
	path = phers
	url = https://github.com/hugheylab/phers
[submodule "pmparser"]
	path = pmparser
	url = https://github.com/hugheylab/pmparser
[submodule "seeker"]
	path = seeker
	url = https://github.com/hugheylab/seeker
[submodule "simphony"]
	path = simphony
	url = https://github.com/hugheylab/simphony
[submodule "spectr"]
	path = spectr
	url = https://github.com/hugheylab/spectr
[submodule "tipa"]
	path = tipa
	url = https://github.com/hugheylab/tipa
[submodule "zeitzeiger"]
	path = zeitzeiger
	url = https://github.com/hugheylab/zeitzeiger
